    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      font-family: 'Roboto Mono', monospace;
      font-size: 11px;
      background-color: #151D2E;
      color: rgb(200, 200, 200);

    }

    main {
      width: 50%;

    }


    .searchBar {

      width: 100%;
      position: relative;
    }

    .searchBar input {
      box-sizing: border-box;
      margin: 0 0 20px 0;
      padding: 20px 100px 20px 50px;
      width: 100%;
      height: 50px;
      outline: none;
      border-radius: 12px;
      background-color: #202B46;
      color: white;
      border: none;
      font-family: 'Roboto Mono', monospace;

    }

    .fa-search {
      position: absolute;
      top: 18px;
      left: 8px;
      z-index: 2;
      width: 20px;
      height: 35px;
      color: white;
      transform: translateX(10px);
      font-size: 17px;
    }

    button {
      position: absolute;
      top: 7px;
      right: 8px;
      width: 80px;
      height: 35px;
      z-index: 2;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      color: white;
      background-color: #1e90ff;
      transform: translateX(2px);
    }

    .errorElement {

      color: red;
      font-size: 12px;
    }

    container {
      display: none;
      padding: 5%;
      background-color: #202B46;
      border-radius: 15px;
    }

    .containerForAvatar {
      width: 30%;
      margin-right: 5%;
    }

    .avatar {
      display: block;
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
    }



    .informations {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-right: 10%;

    }


    .userInformations {
      margin-bottom: 5%;
    }




    .userNameAndDateOfRegistration {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .userName {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2px;
      color: rgb(232, 232, 232);
    }




    .stats {
      display: flex;
      justify-content: space-between;
      height: 15vh;
      margin-bottom: 5%;
      padding: 5%;
      box-sizing: border-box;
      background-color: #151D2E;
      border-radius: 10px;


    }

    .number {
      padding-top: 12px;
      font-size: 16px;
      font-weight: 700;
      color: white;
    }

    .socialMedia {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 5%;


    }

    .localisationAndTwitter {
      margin-bottom: 2%;
    }

    .localisationDivAndIcone,
    .twitterDivAndIcone,
    .blogDivAndIcone,
    .emailDivAndIcone {
      display: flex;
      width: 45%;
    }

    .localisationAndTwitter,
    .blogAndEmail {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .localisation,
    .twitter,
    .blog,
    .email {
      margin-left: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    i {
      transform: translateY(5px)
    }

    @media (orientation: portrait) {
      body {
        font-size: 26px;

      }

      main {
        width: 70%;
      }

      .searchBar {

        margin-bottom: 20px;

      }

      .searchBar input {
        height: 90px;
        font-size: 26px;
        padding: 22px 120px 20px 90px;


      }

      .fa-search {
        font-size: 30px;
        top: 30px;
        left: 15px;
      }

      button {
        top: 20px;
        right: 25px;
        width: auto;
        height: 50px;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 22px;
      }

      .errorElement {
        font-size: 26px;
      }


      container {
        flex-direction: column;
        align-items: center;
      }

      .containerForAvatar {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      .avatar {
        width: 300px;
        height: 300px;
      }

      .informations {
        padding-right: 0;

        align-items: center;
      }

      .userNameAndDateOfRegistration {
        flex-direction: column;
      }

      .userName {
        font-size: 26px;
      }

      p {
        text-align: center;
      }

      .stats {
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: auto;
        margin-bottom: 8%;
      }

      .number {
        display: inline-block;
        font-size: 26px;
      }

      .localisationAndTwitter,
      .blogAndEmail {
        flex-direction: column;
        align-items: center;
      }
    }
